{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Share your thoughts!</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/create_post">
            <input type="hidden" id="user_id" name="user_id" value= {{ user_id }}>
                <div class="control">
                    <textarea class="input is-large" type="text" name="title" placeholder="Name one Local Issue" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <textinput class="input is-large" name="body" placeholder="Share your solution here" rows="10" cols="50">
                        Share your solution here
                      </textarea>
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Post</button>
        </form>
    </div>
</div>
{% endblock %}