<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">Issues for the Black Agenda</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>All Issues (<a href = "{{ url_for('new') }}">Add Yours
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>Date</th>
               <th>Issue #1</th>
               <th>Issue #2</th>
               <th>Issue #3</th>
               <th>Zipcode</th>
            </tr>
         </thead>
         
         <tbody>
            {% for issue in idb %}
               <tr>
                  <td>{{ issue.date }}</td>
                  <td>{{ issue.issue1 }}</td>
                  <td>{{ issue.issue2 }}</td>
                  <td>{{ issue.issue3 }}</td>
                  <td>{{ issue.zipcode }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>