<!DOCTYPE html>
<html>
   <body>
   
      <h3>Issues in Black America</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <form action = "{{ url_for('new') }}" method = "post">
         <label for = "zipcode">Zipcode</label><br>
         <input type = "text" name = "zipcode" placeholder = "Zipcode" /><br>
         <label for = "issue1">Issue1</label><br>
         <input type = "text" name = "issue1" placeholder = "issue1" /><br>
         <label for = "issue2">Issue2</label><br>
         <textarea name = "issue2" placeholder = "issue2"></textarea><br>
         <label for = "issue3">Issue3</label><br>
         <input type = "text" name = "issue3" placeholder = "issue3" /><br>
         <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>